* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
}

h1 {
  color: #4f4f4f;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 20px;
}

button {
  margin-block: 15px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.groupButton {
    display: flex;
    gap: 100px;
}